{#
/**
 * @file
 * Theme override to display a node.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{% if page %}
	<div class="container">
{% endif %}
	<div class="card p-4 mt-3">
		<blockquote class="blockquote">

			{{ content|without('field_location') }}

			<footer class="blockquote-footer">
				<strong>{{ label }}</strong>
			</footer>

		</blockquote>
	</div>
{% if page %}
	</div>
{% endif %}
