{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override to display a call-to-action block.
 */
#}
{% block content %}
	<div class="card pt-3 px-3 pb-0">
    {{ content }}
	</div>
{% endblock %}
